CONFIG_MXR_INTEGRATION_WRAP=y
CONFIG_MXR_USE_IRAM=y
CONFIG_MXR_IRAM_FALLBACK_ENABLED=y
CONFIG_MXR_DESC_IN_IRAM_BSS=y
CONFIG_MXR_STATE_IN_IRAM=y
CONFIG_MXR_IRAM_PATH_ALLOC_FAMILY=y
CONFIG_MXR_CANARY=y
CONFIG_MXR_DOUBLE_FREE_DETECT=y
CONFIG_MXR_DUMP_MINIMAL=y
CONFIG_MXR_DEFAULT_DRAM_ONLY=y
CONFIG_MXR_MAX_DESC=256
CONFIG_MXR_IRAM_MAX_DESC=128
